*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
}
header {
  padding: 25.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 111px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header > img {
  width : 43px;
  height: auto;
  margin-right: 11px;
}
header > p {
  font-weight: Regular;
  font-size: 32px;
}
.main-container {
  padding: 67px 63px 10px;
}
form {
  display: flex;
  justify-content: center;
  gap: 12px;
}
form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 500px;
}
form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 16px;
}
.main-container > h2 {
  margin-top: 48px;

}
.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}
.get-recipe-container {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 28px 42px;
  border: none;
  border-radius: 8px;
  background-color: #F0EFEB;
  align-items: center;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}
.get-recipe-container p {
  font-size: 0.875rem;
  line-height: 20px;
  color: #6B7280
}
.get-recipe-container button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background: #D17557;
  color: #FAFAF8;
  padding: 9px 17px;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe{
    margin-top: 60px;
}

.suggested-recipe-container {
    margin-top: 24px;
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}
